[submodule "solarized.git"]
	path = solarized.git
	url = git://github.com/altercation/solarized.git
[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-mru"]
	path = vim/bundle/vim-mru
	url = git://github.com/ornicar/vim-mru.git
[submodule "vim/bundle/vim-scratch"]
	path = vim/bundle/vim-scratch
	url = git://github.com/duff/vim-scratch.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/unite.vim"]
	path = vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-glsl"]
	path = vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
